body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* before와 after는 배경화면을 다룰 때는 차이 없다. */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: url('https://thumbs.dreamstime.com/z/happy-family-playing-funny-game-having-fun-together-happy-family-playing-funny-game-having-fun-together-little-son-187938280.jpg');
    filter: blur(1px);
    /* 흐림 효과 적용 */
    opacity: 0.5;
    /* 50% 투명도 적용 */
    z-index: -1;
    /* 배경을 뒤로 보내기 위한 z-index 설정 */
}

h1 {
    font-family: sans-serif;
}

#remain-tag {
    height: 60px;
    width: 200px;
    font-size: 20px;
    background-color: rgb(155, 235, 155);

    display: flex;
    align-items: center;
    /* 상하 중간에 정렬 */
    justify-content: center;
    /* 좌우 중간에 정렬 */
    border-radius: 10px;
    /* 곡선 보더 */

    margin-bottom: 10px;
}



img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

#result-tag {
    height: 60px;
    width: 200px;
    font-size: 20px;
    background-color: rgb(237, 173, 248);

    display: flex;
    align-items: center;
    /* 상하 중간에 정렬 */
    justify-content: center;
    /* 좌우 중간에 정렬 */
    border-radius: 10px;
    /* 곡선 보더 */
    margin-top: 10px;
    margin-bottom: 10px;
}

#user-input {
    height: 60px;
    width: 200px;
    font-size: 20px;
    border-radius: 4px;
}

/* 기본 스타일 */
#play-button {
    height: 60px;
    width: 200px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 활성화된 상태의 스타일 */
#play-button.active {
    background-color: #4caf50;
    /* 녹색 배경색 */
    color: #ffffff;
    /* 흰색 텍스트 */
}

/* 비활성화된 상태의 스타일 */
#play-button.disabled {
    background-color: #dddddd;
    /* 회색 배경색 */
    color: #aaaaaa;
    /* 회색 텍스트 */
    cursor: not-allowed;
    /* 비활성화된 상태에서는 클릭 방지 */
}

#reset-button {
    height: 60px;
    width: 80px;
    font-size: 20px;
    background-color: rgb(251, 34, 131);

    display: flex;
    align-items: center;
    /* 상하 중간에 정렬 */
    justify-content: center;
    /* 좌우 중간에 정렬 */
    border-radius: 50px;
}