




img{
    width: 200px;
    height: 200px;
}


/* 기본 스타일 */
#play-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 활성화된 상태의 스타일 */
#play-button.active {
    background-color: #4caf50;
    /* 녹색 배경색 */
    color: #ffffff;
    /* 흰색 텍스트 */
}

/* 비활성화된 상태의 스타일 */
#play-button.disabled {
    background-color: #dddddd;
    /* 회색 배경색 */
    color: #aaaaaa;
    /* 회색 텍스트 */
    cursor: not-allowed;
    /* 비활성화된 상태에서는 클릭 방지 */
}

